*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 2rem;
}

a {
  cursor: pointer;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main-menu.hidden {
  display: none;
}

.play-button {
  display: flex;
}

.difficulty-menu {
  display: none;
}

.difficulty-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.difficulty-menu > .menu-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.difficulty-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.main {
  display: none;
}

.main.visible {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game img {
  width: 15rem;
}

.win-screen {
  display: none;
}

.win-screen .options {
  display: flex;
  gap: 1rem;
}

.win-screen.visible {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
